*{
    /* margin: 0% ; */
}




#Main-heading{
    color: orange;
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(221, 47, 47);
}

body{
    background-color: rgb(100, 177, 163);
}